<%- include('../partials/header'); %>


      <!-- Begin Page Content -->
      <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-1 text-gray-800">Add Member</h1>
        <p class="mb-4">Add a Member to <%= family.fname %>'s Family. It will automatically add this family under your GN Division.</p>
        <form action="/add-member?id=<%= family.id %>" method="POST" class="validation user">
            <!-- Content Row -->
            <div class="row">

            <!-- First Column -->
            <div class="col-lg-4">

                <!-- Custom Text Color Utilities -->
                <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Personal Details</h6>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <select name="relation" class="form-control custom-select" required data-rule="required" data-msg="Please select one">
                            <option value="" disabled selected>Choose Relationship</option>
                            <option value="1">Wife</option>
                            <option value="2">Daughter</option>
                            <option value="3">Son</option>
                        </select>
                        <div class="validate"></div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" autocomplete="off" name="fname" placeholder="Enter First Name" data-rule="minlen:1" data-msg="Please enter at least 1 chars">
                        <div class="validate"></div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" autocomplete="off" name="lname" placeholder="Enter Last Name" data-rule="minlen:1" data-msg="Please enter at least 1 chars">
                        <div class="validate"></div>
                    </div>
                    <div class="form-group">
                        <input type="date" class="form-control" autocomplete="off" name="dob" id="datepicker" placeholder="Enter Date of Birth" data-rule="required" data-msg="Please enter date of birth">
                        <div class="validate"></div>
                         
                    </div>
                    <div class="form-group">
                        <select name="gender" class="form-control custom-select"  required>
                            <option value="" disabled selected>Choose Gender</option>
                            <option value="1">Male</option>
                            <option value="2">Female</option>
                        </select>
                        <div class="validate"></div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" pattern="([0-9]{9})([a-z]{1})" title="Must contains 9 digits first then one chars as last letter. eg: 123456789v" autocomplete="off" name="nic" placeholder="Enter NIC Number">
                        <div class="validate"></div>
                    </div>
                    <div class="form-group">
                        <select name="religion" required class="form-control custom-select" >
                            <option value="" disabled selected>Choose Religion</option>
                            <option value="1">Hinduism</option>
                            <option value="2">Christianity</option>
                            <option value="3">Buddhism</option>
                            <option value="4">Islam</option>
                        </select>
                        <div class="validate"></div>
                    </div>
                    <div class="form-group">
                        <select name="ethnic" required class="form-control custom-select ">
                            <option value="" disabled selected>Choose Ethnic</option>
                            <option value="1">Tamils</option>
                            <option value="2">Sinhalese</option>
                            <option value="3">Indian Tamils</option>
                            <option value="4">Muslims</option>
                        </select>
                        <div class="validate"></div>
                    </div>
                </div>
                </div>

            </div>

            <!-- Second Column -->
            <div class="col-lg-4">

                <!-- Background Gradient Utilities -->
                <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Job & Living Details</h6>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <select name="jobState" onChange="check();" class="form-control custom-select" required id="jobState">
                            <option value="" disabled selected>Choose Job State</option>
                            <option value="1">Yes</option>
                            <option value="2">No</option>
                        </select>
                        <div class="validate"></div>
                        <script>
                            function check(){
                                if($("#jobState").val() == 2){
                                    $("#job").attr("disabled", true);
                                    $("#monthlyIncome").attr("disabled", true);
                                }
                                else{
                                    $("#job").attr("disabled", false);
                                    $("#monthlyIncome").attr("disabled", false);
                                }
                            }
                        </script>
                    </div>
                    <div class="form-group">
                        <input type="text" id="job" class="form-control" disabled autocomplete="off" name="job" placeholder="Enter your Job">
                        <div class="validate"></div>
                    </div>
                    <div class="form-group">
                        <input type="text" id="monthlyIncome" class="form-control" disabled autocomplete="off" name="monthlyIncome" placeholder="Enter Monthly Income">
                        <div class="validate"></div>
                    </div> 
                    <div class="form-group">
                        <textarea type="text"  class="form-control" autocomplete="off" name="temporaryAddress" placeholder="Enter Temporary Address"><%= family.temporaryAddress %></textarea>
                        <div class="validate"></div>
                    </div>
                    <div class="form-group">
                        <textarea type="text"  class="form-control" autocomplete="off" name="permanentAddress" placeholder="Enter Permanent Address"><%= family.permanentAddress %></textarea>
                        <div class="validate"></div>
                    </div>                   
                </div>
                </div>

            </div>

            <!-- Third Column -->
            <div class="col-lg-4">

                <!-- Grayscale Utilities -->
                <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Contact Details</h6>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <input type="email" class="form-control" autocomplete="off" name="email" placeholder="Enter Email">
                        <div class="validate"></div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" autocomplete="off" name="mobile" placeholder="Enter Mobile Number" pattern="([0-9]{10})" title="Must contains 10 digits only. eg : 0777123456">
                        <div class="validate"></div>
                    </div>
                </div>
                </div>
            </div>

            </div>
            <div class="mb-3">
                <div id="check"></div>
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Registered Successfully!</div>
            </div>
            <div class="d-flex justify-content-center">
                <a type="button" class="btn btn-danger btn-user mr-3" href="/show-family?id=<%= family._id %>">Back</a>
                <button type="submit" class="btn btn-primary btn-user"> Save Changes</button>  
            </div>
                
        </form>
      </div>
      <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->


<%- include('../partials/footer'); %>