<%- include('../partials/header'); %>

     <!-- Begin Page Content -->
     <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Clerks</h1>
        <p class="mb-4">You can search and edit clerk details.</p>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">All Clerks</h6>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered"  id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Manage</th>
                    <th>Username</th>
                    <th>Division</th>
                    <th>Mobile</th>
                    <th>Email</th>
                  </tr>
                </thead>                
                <tbody>
                    <% clerks.forEach(function(clerk) { %>
                        <tr>
                          <% if(global.division == clerk.division && global.level == 3){ %>
                            <td class="text-center">
                                <% if(clerk.level == 2){ %>
                                    <button type="button" href="#" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#super<%= clerk.id %>">Super</button>
                                <% } else if(clerk.level == 3 && clerk.email != global.userEmail){ %>
                                    <button type="button" href="#" class="btn btn-success btn-sm" data-toggle="modal" data-target="#undo-super<%= clerk.id %>">Undo Super</button>                                    
                                <% } %>
                                <button type="button" href="#" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#clerk<%= clerk.id %>">Delete</button>
                            </td>
                          <% } else {%>
                            <td class="text-center">
                              No Access
                            </td>
                          <% } %>
                            <td class="text-center"><%= clerk.username %></td>
                            <td class="text-center">
                              <% if(clerk.division == 1){ %>
                                Barathinagar
                              <% }else if(clerk.division == 2){ %>
                                  Pugalenthinagar
                              <% } %>
                            </td>
                            <td class="text-center"><%= clerk.mobile %></td>
                            <td class="text-center"><%= clerk.email %></td>
                        </tr>
                        <!-- Delete Modal-->
                        <div class="modal fade" id="clerk<%= clerk.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Ready to Delete?</h5>
                                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                                </div>
                                <div class="modal-body">Select "Delete" below if you are ready to delete this Clerk from your GN Division.</div>
                                <div class="modal-footer">
                                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                                <a class="btn btn-primary" href="/delete-clerk?id=<%= clerk.id %>">Delete</a>
                                </div>
                            </div>
                            </div>
                        </div>

                        <!-- Super Modal-->
                        <div class="modal fade" id="super<%= clerk.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                          <div class="modal-content">
                              <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Ready to Change?</h5>
                              <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">×</span>
                              </button>
                              </div>
                              <div class="modal-body">Select "Change" below if you are ready to make this Clerk as same as GS privilages.</div>
                              <div class="modal-footer">
                              <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                              <a class="btn btn-primary" href="/super-clerk?id=<%= clerk.id %>">Change</a>
                              </div>
                          </div>
                          </div>
                      </div>
                      <!-- Super Modal-->
                      <div class="modal fade" id="undo-super<%= clerk.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Ready to Change?</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            </div>
                            <div class="modal-body">Select "Change" below if you are ready to make this Clerk with usual privilages.</div>
                            <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                            <a class="btn btn-primary" href="/undo-super?id=<%= clerk.id %>">Change</a>
                            </div>
                        </div>
                        </div>
                    </div>
                    <% }); %>
                </tbody>
                <tfoot>
                    <tr>
                        <th>Manage</th>
                        <th>Username</th>
                        <th>Division</th>
                        <th>Mobile</th>
                        <th>Email</th>
                    </tr>
                  </tfoot>
              </table>
            </div>
          </div>
        </div>

      </div>
      <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->


<%- include('../partials/footer'); %>





